{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('errors') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <h2>Pobieranie kursów walut</h2>
    {{ form_start(form) }}
        {{ form_row(form.currency) }}
        {{ form_row(form.date) }}
        <button type="submit" class="btn btn-success">Pobierz</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#currency_form_date').datepicker({
            format: 'yyyy-mm-dd'
        });
    </script>
{% endblock %}